<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/assets/css/homeAnimation.css">
</head>

<body>

    <div style="text-align:center; font-size:50px; color:whitesmoke;">ᗯEᒪᑕOᗰE TO ᑭᗩᖇKIᑎG ᒪOT</div>
    <div class="night">
        <div class="surface">
        </div>
        <div class="car">
            <img src="../static/images/resources/Img_06.png" alt="">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="../static/assets/js/Magic.js"></script>
</body>

</html>