{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <title>Smart Parking Lot</title>
    <link rel="icon" href="{% static 'images/resources/home.png' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: #f2f2f2!important;">

    <header>
        <div class="header_inner">
            {% csrf_token %}
            <div class="left-side">

                <!-- <div class="header_search"> -->
                <a href="/" style="display:flex;"><img src="/static/images/resources/home.png" style="width:50px"
                        alt="">
                    <p style="line-height:70px; white-space: nowrap; width: 300px">𝓢𝓶𝓪𝓻𝓽 𝓟𝓪𝓻𝓴𝓲𝓷𝓰
                        𝓛𝓸𝓽</p>
                </a>

                <a href="#"
                    class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
                    Danh Mục Hệ Thống
                </a>

                <div uk-dropdown="pos: bottom-left;mode:click ; animation: uk-animation-slide-bottom-small"
                    class="header_dropdown">

                    <a href="quanlygiangvien"
                        class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
                        Quản Lý Cán Bộ Giảng Viên
                    </a>
                    <br>
                    <a href="quanlygiaxe"
                        class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
                        Quản Lý Giá Xe
                    </a>
                </div>

                <a href="dangkyguixe"
                    class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
                    Đăng ký gửi xe
                </a>

                <!-- </div> -->
            </div>
            <!-- <input type="text" name="username" placeholder="Search for username..">&nbsp; &nbsp;
            <button type="submit"><i class="fa fa-search fa-1x"></i></button> -->
            <div class="right-side lg:pr-4">
                <!-- upload -->
                <a href="nhandienbienso"
                    class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
                    Nhận diện biển số xe
                </a>
                <!-- upload dropdown box -->
                <a href="#">
                    <img src="../static/images/resources/software-developer.png" class="header-avatar" alt="">
                </a>
                <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                    <ul>
                        <li><a href="settings"> Quản Lý Tài Khoản Admin </a></li>
                        <li><a href="signup">Thêm Admin</a></li>
                        <li><a href="logout"> Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <script>
        // {% for message in messages %}
        swal('{{message.tags}}', '{{message}}', '{{message.tags}}')
        // {% endfor %}
    </script>
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>

</html>